<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="KutuphaneDBConnStr"
			 connectionString="Server=DESKTOP-1623\MSSQLSERVER1;Database=KutuphaneOtomasyonDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>