<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net481" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net481" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1652.0" targetFramework="net481" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net481" />
</packages>